<header id="header" class="row">
	<h1 class="hidden">Superhero App</h1>
	<div class="small-12 large-12 columns headerTitle">
		<h1 class="text-center">Superhero Guide</h1>
	</div>
	<div class="small-12 columns">
		<h1 class="hidden">Navigation</h1>
		<nav class="mainNav">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/list">Characters</a></li>
				<li><a href="#/movieList">Movies</a></li>
				<li><a href="#/deadpools">Deadpools</a></li>
			</ul>
		</nav>
	</div>
</header>

<section id="characters" class="row">
	<h1 class="hidden">Deadpool List</h1>
	<center>
		<h1>Deadpool Corps</h1>
		<div class="small-12 medium-4 columns charList" data-ng-repeat="deadpool in deadpools">
			<figure class="charImage">
				<img ng-src="../images/{{deadpool.image}}" alt="character image" />
			</figure>
			<p><a href="#/deadpool/{{deadpool._id}}">{{deadpool.alias}}</a></p>
		</div>
	</center>
</section>

