<header id="header" class="row">
	<div class="small-12 large-12 columns">
		<h1 class="text-center">Superhero App</h1>
	</div>
	<div class="small-12 columns">
		<nav class="mainNav">
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/list">Characters</a></li>
				<li><a href="#/movieList">Movies</a></li>
			</ul>
		</nav>
	</div>
</header>

<section id="characters" class="row">
	<center>
		<h1>Characters List</h1>
		<div class="small-12 medium-4 columns charList" data-ng-repeat="character in characters">
			<figure class="charImage">
				<img ng-src="../images/{{character.image}}" alt="character image" />
			</figure>
			<p><a href="#/details/{{character._id}}">{{character.alias}}</a></p>
		</div>
	</center>
</section>

