<header id="header" class="row">
	<div class="small-12 large-12 columns">
		<h1 class="text-center">Superhero App</h1>
	</div>
	<div class="small-12 columns">
		<nav>
			<ul>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/list">Characters</a></li>
				<li><a href="#/movies">Movies</a></li>
			</ul>
		</nav>
	</div>
</header>

<section id="characters" class="row">
	<center>
		<h1>Movies List</h1>
		<div class="small-12 large-12 columns charList">
			<ul>
				<li data-ng-repeat="movie in movies">
					<a href="#/movieDetails/{{movie._id}}">{{movie.movieName}}</a>
				</li>
			</ul>
		</div>
	</center>
</section>
