<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<!-- Variable -->
	<% var characters = JSON.parse(list); %>
    <h1><%= title %></h1>
	<!-- unorder List -->
	<ul>
		<!-- For Loop -->
		<% for (var i=0; i<characters.length; i++) { %>
		<li> <a href="http://localhost:3000/characters/<%=characters[i]._id %>"> <%= characters[i].alias; %>  </a></li>
		<%	} %>
	</ul>


  </body>
</html>
