.hidden
{
	display: none;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

#container
{
/*	background-image: url(../images/bg1.png);
	background-size: cover;*/
	/*background-color: #242424;*/
	/*height: 100%;*/
}


#header
{
	max-width: 100%;
	padding: 50px 0 30px 0;
	background-color: #2196F3;
	box-shadow: 0 7px 8px -7px #242424;
}

#header h1
{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 2px;
	text-transform: uppercase;

}

#header p 
{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}

#header a
{
	color: #242424;
}

#header a:hover
{
	color: #BBDEFB;
}

.mainNav ul
{
	list-style-type: none;
	margin: 0;
	padding:0;
	text-align: center;
}

.mainNav ul li
{
	display: inline;
}

.mainNav ul li a 
{
	display: inline-block;
	padding: 10px;
	color: white;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: .8em;
}


#home
{
	padding-top: 20%;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}


#home h1
{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;	
	text-transform: uppercase;
	color: #242424;
	letter-spacing: 2px;
}

#home a
{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;	
	text-transform: uppercase;
	color: #242424;
}

#home a:hover
{
	color: #242424;
}

#guide
{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #EE293D;
}

.homeBut
{
	padding-top: 2em;
}

#characters
{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	padding-top: 3em;
	padding-bottom: 3em;
}

#characters h1
{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color:  #2196F3;
}

.charList p
{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.charList a:hover 
{
	color: #242424;
}

#characterDetail
{
	padding-top: 2em;
	padding-bottom: 2em;
}

.charImage img
{
	-moz-box-shadow: 0px 1px 7px #000000;
	-webkit-box-shadow: 0px 1px 7px #000000;
	box-shadow: 0px 1px 7px #000000;
}



/*----------------ngAnimate----------------*/
.ng-enter           
{ 
    animation: bounceIn 0.5s  ease-in; 
}

.ng-leave           
{ 
    animation: zoomOut 0s  ease-in;  
}

/* List Page */
.list.ng-enter         
{ 
    animation: fadeIn 0.5s  ease-in;
     

}
.list.ng-leave         
{ 
   	animation:fadeInLeft 0s  ease-in; 
}

/* Detail Page */
.details.ng-enter        
{ 
    animation:fadeInLeft 0.5s  ease-in; 
}

.details.ng-leave        { 
   	animation:zoomOut 0s  ease-in; 
}

